<h2>Congratulations!</h2>

<p>You have placed the winning bid of $<%= @listing.purchase_price %> on <%= @seller.username %>'s <%= @listing.title %>!</p>

<p>You can get in touch with <%= @seller.username %> on <%= @seller.email %></p>

