<h2>Index page</h2>

<% @listings.each do |listing| %>
  <div id="<%= listing.id %>">
    <p><a href="/listings/<%= listing.id %>"> Listing ID: <%= listing.id %> </a></p>
    <p>Listing Start Price: $<%= listing.start_price %></p>
    <p>Listing Start Time: <%= listing.start_time %></p>
    <% if (listing.purchase_price == nil) %>
      <p>Current Price: $<span id="current-price"></span></p>
    <% else %>
      <p>End Price: $<%= listing.purchase_price %></p>
    <% end %>

  </div>
  <hr>
<% end %>

<script>
  var currentPrice = document.querySelectorAll('#current-price')
  
  var source = new EventSource('/price_response');

  source.addEventListener("ping", function(event) {
    var data = JSON.parse(event.data)

  currentPrice.forEach(element => {
    var listingId = Number(element.closest('div').id)
    element.textContent = data.listings[listingId]
  });

  })
</script>