<br>
<form>
  <select id="categories" class="categories">
    <option>Select a category:</option>
  </select>
</form>

<% @listings.each do |listing| %>
  <div id="<%= listing.id %>" class="listing">

    <h2><a href="/listings/<%= listing.id %>"><%= listing.title %> </a></h2>
    <a href="/listings/<%= listing.id %>"><img src="<%= listing.image_url %>" alt=""></a>
    
    <p>Start Price: $<%= listing.start_price %></p>
      <% if listing.purchase_price == nil %>
        <p><span id="result-string"></span></p>
      <% else %>
        <p>End Price: $<%= listing.purchase_price %></p>
      <% end %>
    
    <% if logged_in %>
      <p class="watchlist-link"><%= link_to 'Watch Listing', watchlist_path(listing_id: "#{listing.id}"), method: 'create', class: 'add-to-watchlist' %></p>
    <% end %>

  </div>
<% end %>

<script>
  const resultString = document.querySelectorAll('#result-string')

  const source = new EventSource('/price_response');

  source.addEventListener("ping", function(event) {
    let obj = JSON.parse(event.data).result
    resultString.forEach(element => {
      let listingId = Number(element.closest('div').id)
      if (obj[listingId][0].includes("Auction")) {
        element.textContent = obj[listingId][0]
      } else {
        element.textContent = `Current Price: $${obj[listingId][0]}`
      }
    });
    // debugger
  })

  // update Watchlist counter via DOM manipulation
  let watchlistCount = document.querySelector('#watchlist-count')
  
  const displayWatchlistCount = function(response) {
    watchlistCount.textContent = response.result
  }

  let listing = document.querySelector('body')
  listing.addEventListener('click', function(event) {
    if (event.target.classList.contains('add-to-watchlist')) {
      $.ajax({url: '/watchlist'}).done(displayWatchlistCount)
    }
  })
</script>