<br>
<form>
  <select id="categories" class="categories">
    <option>Select a category:</option>
  </select>
</form>

<h2>Listings</h2>

<% @listings.each do |listing| %>
  <div id="<%= listing.id %>" class="listing">
    <p><a href="/listings/<%= listing.id %>"> Listing ID: <%= listing.id %> </a></p>
    <p>Listing Start Price: $<%= listing.start_price %></p>
    <p>Listing Start Time: <%= listing.start_time.in_time_zone("Melbourne").strftime('%A %e %B %Y %r') %></p>
    <% if (listing.purchase_price == nil && Time.now.utc.to_i < listing.start_time.to_i && Time.now.utc.to_i < listing.end_time.to_i)%>
      <p><span id="current-price"></span></p>
    <% elsif (listing.purchase_price == nil && Time.now.utc.to_i < listing.end_time.to_i)%>
      <p>Current Price: $<span id="current-price"></span></p>
    <% elsif (listing.purchase_price == nil && Time.now.utc.to_i > listing.end_time.to_i)%>
      <p><span id="current-price"></span></p>
    <% else %>
      <p>End Price: $<%= listing.purchase_price %></p>
    <% end %>


    <%= link_to 'Watch', watchlist_path(listing_id: "#{listing.id}"), method: 'create', class: 'add-to-watchlist' %>

  </div>
  <hr>
<% end %>

<script>
  const listingIds = document.querySelectorAll('#current-price')

  const source = new EventSource('/price_response');

  source.addEventListener("ping", function(event) {
    let data = JSON.parse(event.data)

    listingIds.forEach(element => {
    let listingId = Number(element.closest('div').id)
    element.textContent = data.result[listingId]
  });

  })

  // update Watchlist counter via DOM manipulation
  var watchlistCount = document.querySelector('#watchlist-count')
  
  var displayWatchlistCount = function(response) {
    watchlistCount.innerHTML = response.result
  }

  var listing = document.querySelector('body')
  listing.addEventListener('click', function(event) {
    if (event.target.classList.contains('add-to-watchlist')) {
      $.ajax({url: '/watchlist'}).done(displayWatchlistCount)
    }
  })
</script>