<br>
<form>
  <select id="categories" class="categories">
    <option>Select a category:</option>
  </select>
</form>

<% @listings.each do |listing| %>
  <div id="<%= listing.id %>" class="listing">

    <h2><a href="/listings/<%= listing.id %>"><%= listing.title %> </a></h2>
    <a href="/listings/<%= listing.id %>"><img src="<%= listing.image_url %>" alt=""></a>
    
    <p>Start Price: $<%= listing.start_price %></p>
      <% if listing.purchase_price == nil %>
        <p><span id="result-string"></span></p>
      <% else %>
        <p>Sold for $<%= listing.purchase_price %></p>
      <% end %>
    
    <% if logged_in %>
      <% if @current_user.watchlist.include?(listing.id)%>
        <%= form_tag "/watchlist/#{listing.id}", method: 'post' do %>
          <button class="watchlist-link" name="id" value="<%= listing.id%>">Remove from Watchlist</button>
        <% end %>
      <% else %>
        <%= form_tag "/watchlist/#{listing.id}", method: 'post' do %>
          <button class="watchlist-link" name="id" value="<%= listing.id%>">Add to Watchlist</button>
        <% end %>
      <% end %>
    <% end %> 

  </div>  
<% end %>

<script>
  const resultString = document.querySelectorAll('#result-string')
  const source = new EventSource('/price_response');

  source.addEventListener("ping", function(event) {
    let obj = JSON.parse(event.data).result
    resultString.forEach(element => {
      let listingId = Number(element.closest('div').id)
      if (obj[listingId][0].includes("Auction") || obj[listingId][0].includes("Sold")) {
        element.textContent = obj[listingId][0]
      } else {
        element.textContent = `Current Price is $${obj[listingId][0]}`
      }
    });
  })

</script>