<h2><%= @listing.name %></h2>

<img src="<%= @listing.image_url %>" alt="">

<p>Listing ID: <%= @listing.id %></p>
<p>Listing Start Price: $<%= @listing.start_price %></p>
<p>Listing Start Time: <%= @listing.start_time %></p>
