<h2>Listing <%= @listing.id %></h2>
<p>Listing Title: <%= @listing.title %></p>

<img src="<%= @listing.image_url %>" alt="">


<%= form_tag listing_path(@listing), method: 'put' do %>
  <div id="<%= @listing.id %>">
    <p>Listing ID: <%= @listing.id %></p>
    <p>Listing Start Price: $<%= @listing.start_price %></p>
    <p>Listing Start Time: <%= @listing.start_time %></p>

    <% if (@listing.purchase_price == nil) %>
      <input type="hidden" id="current-price" name="current_price"><p>Current Price: $<span id="current-price"></span></p>
    <% else %>
      <p>End Price: $<%= @listing.purchase_price %></p>
    <% end %>
  </div>

  <% if (@listing.status == 'live') %>
    <input type="hidden" name="buy-button">
    <button>BUY</button>
  <% else %>
    <p>Auction ended</p>
  <% end %>
  
<% end %>

<script>
  var currentPrices = document.querySelectorAll('#current-price')
  
  var source = new EventSource('/price_response');

  source.addEventListener("ping", function(event) {
    var data = JSON.parse(event.data)

  currentPrices.forEach(element => {
    var listingId = Number(element.closest('div').id)
    var latestPrice = data.listings[listingId]
    element.textContent = latestPrice
    element.setAttribute('value', latestPrice)
  });

  })
</script>