<!DOCTYPE html>
<html>
  <head>
    <title>HotPotato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>

    <nav class="header">

      <span class="header-toggle">
        <i class="fas fa-bars"></i>
      </span>

      <a href="/" class="logo"><img src="http://placekitten.com/50/50"></a>

      <h1>HotPotato</h1>

      <ul class="nav-bar">
        
        <li>
          <a href="/users/login" class="nav-links">Login</a>
        </li>
        <li>
          <a href="/users/signup" class="nav-links">Signup</a>
        </li>
        <li>
          <a href="/listings" class="nav-links">Show all listings</a>
        </li>
        <li>
          <a href="#" class="nav-links">Finishing soon</a>
        </li>
        <li>
          <a href="#" class="nav-links">Watchlist</a>
        </li>
        <li>
          <a href="/listings/new" class="nav-links">Add new item</a>
        </li>
        <li>
          <form action="/listings/search">
          <textarea name="listing_search"></textarea>
          <button>Search</button>
          </form>
        </li>

      </ul>

    </nav>



    <%= yield %>

  <%= javascript_include_tag 'application' %>
  </body>

</html>
