<!DOCTYPE html>
<html>
  <head>
    <title>HotPotato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>

    <nav class="header">

      <span class="header-toggle">
        <i class="fas fa-bars"></i>
      </span>

      <a href="/" class="logo"><img src="https://i.imgur.com/mw0zZOy.png"></a>

      <h1>HotPotato</h1>

      <ul class="nav-bar">
        
        <li>
          <a href="/login" class="nav-links">Login</a>
        </li>
        <li>
          <a href="/users/new" class="nav-links">Signup</a>
        </li>
        <li>
          <a href="/listings" class="nav-links">Show all listings</a>
        </li>
        <li>
          <a href="#" class="nav-links">Finishing soon</a>
        </li>
        <li>
          <a href="#" class="nav-links">Watchlist</a>
        </li>
        <li>
          <a href="/listings/new" class="nav-links">Add new item</a>
        </li>
        <li>
          <form action="/listings/search">
          <textarea name="listing_search"></textarea>
          <button>Search</button>
          </form>
        </li>

      </ul>

    </nav>

<% if logged_in %>
  Session User ID:<%= session[:user_id] %>
  Session Username:<%= session[:username] %>
  <p>Number of watchlist items:
      <%= watchlist_items_count %>
  </p>
  <p>Purchased items: </p>
  
  <%= button_to 'Logout', login_path, method: 'delete' %>
<% else %>
  <%= button_to 'Login', login_path, method: 'post' %>
<% end %>


    <%= yield %>

  <%= javascript_include_tag 'application' %>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

</html>
