<!DOCTYPE html>
<html>
  <head>
    <title>HotPotato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="header">

      <a href="/" class="logo"><img src="http://placekitten.com/50/50"></a>

      <h1>HotPotato</h1>

      <ul class="nav-bar" id="js-menu">
        <li>
          <a href="/users/login" class="nav-links">Login</a>
        </li>
        <li>
          <a href="/users/signup" class="nav-links">Signup</a>
        </li>
        <li>
          <a href="/listings" class="nav-links">Show all listings</a>
        </li>
        <li>
          <a href="#" class="nav-links">Finishing soon</a>
        </li>
        <li>
          <a href="#" class="nav-links">Watchlist</a>
        </li>
      </ul>

      <form action="/listings/search">
      <textarea name="listing_search"></textarea>
      <button>Search</button>
      </form>

    </div>



    <%= yield %>
  </body>
</html>
