<!DOCTYPE html>
<html>
  <head>
    <title>HotPotato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>

    <nav class="header">

      <a href="/" class="logo"><img src="https://i.imgur.com/mw0zZOy.png"></a>

      <h1>HotPotato</h1>

      <span class="header-toggle">
        <i class="fas fa-bars"></i>
      </span>

    </nav>

      <ul class="nav-bar">      

        <% if logged_in %>
          <li>
          Username: <%= session[:username] %>
          </li>
          <li>
            <a href="/listings" class="nav-links">Show all listings</a>
          </li>
          <li>
            <a href="#" class="nav-links">Finishing soon</a>
          </li>
          <li>
            <a href="#" class="nav-links" id="watchlist-count">Watchlist (<%= watchlist_count %>)</a>
          </li>
          <li>
            <a href="/listings/new" class="nav-links">New listing</a>
          </li>
          <li>
          <%= link_to 'Logout', login_path, method: 'delete' %>
          </li>
        <% else %>
          <li>
            <a href="/login" class="nav-links">Login</a>
          </li>
          <li>
            <a href="/users/new" class="nav-links">Signup</a>
          </li>
          <li>
            <a href="/listings" class="nav-links">Show all listings</a>
          </li>
          <li>
            <a href="#" class="nav-links">Finishing soon</a>
          </li>
        <% end %>

      </ul>

<% if logged_in %>
  
  <%= button_to 'Logout', login_path, method: 'delete' %>
<% else %>
  <%= button_to 'Login', login_path, method: 'post' %>
<% end %>
<br>

  <%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <%= javascript_include_tag 'application' %>
  
  </body>

</html>
